html {
  background-image: url(../src/photos/slate.jpg);

}
body {
  background-image: url(../src/photos/slate.jpg);
}


.tickerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 900px;

  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
