finCard {
    display: block;
    /* margin: auto; */
    /* border: 1px solid black; */

}
.fin-container {
    margin: auto;
    border-radius: 15px;
    background-color: aliceblue;
    width: 80%;
    margin-top: 0px;
    background-color: aliceblue;
    overflow: scroll;
}

.companyName {
text-align: center;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 35px;
}

.news {
    color: #696969;
    font-size: 20px;
}

.latestNews {
    color: #696969;
    font-size: 22px;
}

.dataChart {
    text-align: center;
}

