#dictionarybox {
    margin: 0 auto;
}

tr {
    text-align: center;
}
.panelDefinition {
    width: 94%;
    margin: 0 auto 20px auto
}
.termsBoxAfter {
    display: flex;
    justify-content: center;
}
#term {
    margin-left: 10px;
}
.tickerSearchBoxButton {
    display: flex;
    justify-content: center;
  }