form.search {
    /* overflow: auto; */

    margin-bottom: 10px;
    width: 200px;
    margin-left: 10px;
    color: white;
    font-size: 18px;
  }
  
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }