.calcButton {
    background-color: white;
    color: #404040;
    padding: 5px !important;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 5px;
}

.calcButton:hover {
    background-color: #606060;
    color: white;
}

.calcInput {
    margin: 3px;

}
