.tickerContainer {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 900px; */
    width: 100%;
    margin: auto;
}

.card {
    display: block;
    max-width: 100%;   
    min-width: 400px; 
    background-color: aliceblue; 
    margin: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 1px;
    padding: 0px 5px;
}

.expandedCard {
    overflow: auto;
    border-color: transparent;
    border: transparent;
    width: 100% !important;
}

.cardTitle {
    display: flex;
}

.alignRight {
    display: flex;
    justify-content: flex-end;
}

.alignLeft {
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.expandBttn {
    display: -webkit-inline-box;
    border-radius: 2px;

    /* position: absolute; */
    top: 8px;
    right: 16px;
    font-size: 18px;
    /* height: 10px;
    width: 10px; */
    /* align-self: flex-end; */
}
.tickerSymbol {
    text-transform: uppercase;
}
.rightData {
    text-align: right;
}
.table {
    margin-bottom: 0;
}
.panel {
    margin-bottom: 0;
    width: 80%;
    margin: 0 auto;
}
.panel-term {
    margin-bottom: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card {
        display: block;
        /* max-width: 1000px;   
        min-width: 220px;  */
        width: 95%;
        background-color: aliceblue;
    
        margin: auto;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 1px;
        padding: 0px 5px;
    }
}