form.search {
    /* overflow: auto; */
    margin: 10px auto !important;
    width: 60%;
    font-size: 18px;
    padding: 5px;
  }
  
form.search button[type="submit"] {
   margin: 10px 13px;
  }

.form-group {
  text-align: center;
}

.searchTitle {
  margin: auto;
  text-align: center;
}

.form-control {
  margin: unset !important;
  margin-top: 13px;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-inline-box;
}

.custom-button {
  
  background-color: #C1F0FA;
  color: #898B8B;
  padding: 5px !important;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  border-radius: 8px;

}
.custom-button:hover {
  background-color: yellow;
}

.finChart {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  max-width: 80%;
}
.tickerSearchBoxButton {
  display: flex;
  justify-content: center;
}
.tickerInputBox {
  margin-top: 13px !important;
}
.stockSearch {
  text-align: center;
}
