.custom-button {
    background-color: white;
    color: black;
    padding: 10px !important;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}

.custom-button:hover {
    background-color: #383838;
    color: white;
}
.watchButton {
    margin: 10px auto !important;
    display: block;
}