
.card {
    display: flex;
    max-width: 1000px;   
    min-width: 240px; 
    /* width: 30%; */
    background-color: aliceblue;

    margin: auto;
    border: 1px solid #000000;
    margin: 1px;
    padding: 0px 5px;
}

.alignRight {
    display: flex;
    justify-content: flex-end;
}

.alignLeft {
    justify-content: flex-start;
}

.rowFlex {
    display: flex;
}

.expandBttn {
    display: flex;
    align-self: flex-end;
}

/* .expandedCard {
    width: 2000px;
} */